/*
css de la pagina carreras
hecho por Roberto ☻
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }

  /*courses*/
.grados{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 700;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 400;
  list-style: 22px;
  padding: 10px;

}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.course-col{
  flex-basis: 31%;
  background: #282A3A;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.6s;
}
.course-col h3{
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
}
.course-col p{
  color: #fff;
}
.course-col:hover{
  box-shadow: 0 0 40px 0px rgba(0,0,0,0.5);
}
.chb:hover {
  background: #9698a8;
  text-decoration: none;
}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}
