/*
css global de la pagina
hecho por Roberto ☻
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.cabezal {
  min-height: 100vh;
  width: 100%;

  background-image: linear-gradient(90deg, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.7) 50%, rgba(252,176,69,0.7) 100%), url("images/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 50px;
}
.navegacion {
  flex: 1;
  font-weight: 400;
  text-align: right;
}
.navegacion ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.navegacion ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
ul li .fas{
  display: inline;
  color: #fff;
  margin: 5px;
  font-size: 22px;
}
ul li .fab{
  display: inline;
  color: #fff;
  margin: 5px;
  font-size: 22px;
}
.navegacion ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navegacion ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(4.5%, 30%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 24px;
  color: #fff;
}
.hb {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  padding: 12px 34px;
  background: transparent;
  cursor: pointer;
}
.hb:hover {
  color: #fa6c3a;
  border: 1px solid #fff;
  background-color: #fff;
  transition: 0.5s;
}
nav .fas {
  display: none;
}
/*seccion de la navbar para dispositivos moviles*/
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 12px;
  }
  .navegacion ul li {
    display: block;
  }
  .navegacion {
    position: absolute;
    background-color: #282A3A;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .navegacion ul {
    padding: 30px;
  }
}
/*servicios*/
.servicios{
  background: linear-gradient(90deg, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.7) 50%, rgba(252,176,69,0.7) 100%);
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.servicios h1{
  color: #fff;
  font-weight: 700;
}
.servicios p{
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
.serv-col{
  background: #f9f9f9;
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  transition: 0.6s;
}
.serv-col h3{
  text-align: center;
}
.serv-col p{
  color: #282A3A;
}
.serv-col img{
  width: 100%;
  border-radius: 10px;
}
.serv-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
}

/*testimoniales*/
.testimoniales{
  background: #282A3A;
  width: 100%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimoniales h1{
  color: #fff;
  font-weight: 700;
}
.testimoniales p{
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.test-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.test-col img{
  height: 80px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.test-col p{
  padding: 0;
  color: #282A3A;
  font-weight: 400;
}
.test-col h3{
  color: #282A3A;
  font-weight: 700;
  text-align: left;
}
.test-col .fas{
  color: #ffd001;
}
.test-col:hover{
  box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.6);
}
@media(max-width: 700px){
  .test-col img{
    margin-left: 0px;
    margin-right: 15px;
  }
}
/*cta*/
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/webpage/pages/images/ph.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

/*footer*/
.footer{
  background: #282A3A;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 20px;
}
.footer p{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 20px;
}
.footer .fab{
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
/*concato*/
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}

.contcus{
  width: 80%;
  margin: auto;
}
.cont-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.cont-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.prin{
  width: 400px;
  border-bottom: 20px solid #fa6c3a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.prin h2{
  color: #fff;
  width: 86.5%;
  background: #fa6c3a;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.prin ul{
  width: 386px;
  position: relative;
  background: #fff;
}
.prin ul li{
  font-weight: 400;
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0,.08);
  transition: transform 0.5s;
}
.prin ul :hover li{
  opacity: 0.2;
}
.prin ul li:hover{
  font-weight: 700;
  transform: scale(1.1);
  z-index: 100;
  background: #282A3A;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0,.2);
  color: #fff;
  opacity: 1;
}
.prin ul li span{
  width: 20px;
  height: 20px;
  text-align: center;
  background: #fa6c3a;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.prin ul li:hover span{
  background: #fff;
  color: #fa6c3a;
}